@model SistemaCitasConsultorioDental.Models.HorarioDentista

@{
    ViewData["Title"] = "Nuevo horario";
}

<h2>Editar horario de dentista</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="DentistaId" class="control-label"></label>
                <select asp-for="DentistaId" class="form-control" asp-items="ViewBag.DentistaId"></select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="DiaSemana" class="control-label"></label>
                <select asp-for="DiaSemana"
                        class="form-control"
                        asp-items="ViewBag.DiasSemana">
                </select>
                <span asp-validation-for="DiaSemana" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="HoraInicio" class="control-label"></label>
                <input asp-for="HoraInicio" class="form-control" type="time" />
                <span asp-validation-for="HoraInicio" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="HoraFin" class="control-label"></label>
                <input asp-for="HoraFin" class="form-control" type="time" />
                <span asp-validation-for="HoraFin" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
